@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Kdam+Thmor+Pro&family=Lexend+Deca&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 95%);
    display: flex;
    place-items: center;
   min-height:  100vh;
}
main{
    display: grid;
    text-align: center;
    grid-template-areas: 
    'a b c'
    'a b c'
    ;
    border-radius: 5px;
    margin: auto ;
    width: 50%;
    height: 100 vh;
}
main div{
    padding: 2rem;
    text-align: center;
}
svg, h1,button{
    margin-top:20px;

}
h1{
    color: hsl(0, 0%, 95%);
    font-family: Big Shoulders Display;
 }
 button{
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 20px ;
    border: none;
   background-color: hsl(0, 0%, 95%);
   font-family: Lexend Deca;
   margin-top: 100px;
}
p{
    margin:20px 5px;
    
    /* margin-top:20px; */
    
    font-family: Lexend Deca;
    font-weight:400;
    color: hsl(0, 0%, 95%);
    text-align:left;
    text-justify: inter-word;
}
.A {
  background-color: hsl(31, 77%, 52%);
  grid-area: a;
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.B {
    background-color: hsl(184, 100%, 22%);
    grid-area: b;
    width: 100%;
    height: 100%;
    padding: 2rem;
}
.C{
    background-color:hsl(179, 100%, 13%) ;
    grid-area: c;
    width: 100%;
    height: 100%;
    padding: 2rem;
}
/* .lastbtn{
    margin-top: 80px;
} */
button:hover{
    background-color: transparent;
    border: solid 3px hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}