*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
    display: flex;
    place-items: center;
    min-height: 100vh;
}
main{
    display: grid;
    grid-template-areas:
    'a a b'
    'a a b'
    'c d d'
    'c e e'
    ;
    width: 50%;
    height: 80%;
    margin: auto;
    gap: 10px;
    background-color: rgb(15, 1, 1);
}
main div{
padding: 2rem;
}
.A{
    background-color:blue;
    grid-area: a;
  
}
.B{
    background-color:rgb(255, 30, 0);
    grid-area: b;
}
.C{
    background-color:rgb(189, 15, 102);
    grid-area: c;
}
.D{
    background-color:rgb(25, 187, 98);
    grid-area: d;
}
.E{
    background-color:rgb(88, 67, 22);
    grid-area: e;
}